<div class="container-fluide">
    <form>
        <div class="row align-items-center">
            <div class="col-2 ml-4">
                <label for="rechercheParNom">Recherche par nom</label>
            </div>
            <div class="col-4">
                <input type="text" class="form-control" id="rechercheParNom" #saisie placeholder="Rechercher">
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-dark" (click)="rechercherParNom(saisie.value)">Rechercher</button>
            </div>
        </div>
    </form>
</div>
<br/>
<div *ngIf="rechercher == true">
    <ul>
        <li *ngFor="let matricule of listeMatricules">{{matricule}}</li>
    </ul>
</div>