<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="" routerLink="accueil" >
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Circle-icons-computer.svg/1024px-Circle-icons-computer.svg.png"
            width="30" height="30" alt="nav" />
    </a>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="" routerLink="/accueil" routerLinkActive="active-link">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" routerLink="/galerie" routerLinkActive="active-link">Gallerie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" routerLink="/apropos" routerLinkActive="active-link">A propos</a>
            </li>
        </ul>
    </div>
</nav>