<div *ngIf="phaseCreer == false; else creerBlock">
    <div *ngIf="col != undefined">
        <div class="col ml-2 " *ngIf="isError == false; else erreurBlock">
            <div class="card shadow bg-white rounded" style="max-width: 700px;">
                <div class="card-header">
                </div>
                <div class="card-body ">
                    <form (ngSubmit)="validerModif()" #collegueModifier="ngForm">
                        <div class="row no-gutters">
                            <div class="col-md-4" style="max-width: 180px;">
                                <div class="m-2">
                                    <img src="{{col.photoUrl}}" height="200" class="card-img" alt="photoID">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <strong>Matricule</strong>
                                        </div>
                                        <div class="col-6">
                                            {{col.matricule}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <strong>Nom</strong>
                                        </div>
                                        <div class="col-6">
                                            {{col.nom | uppercase}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <strong>Prénoms</strong>
                                        </div>
                                        <div class="col-6">
                                            {{col.prenoms}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <strong>Date de naissance</strong>
                                        </div>
                                        <div class="col-6">
                                            {{col.dateDeNaissance | date:'dd/MM/yyyy'}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <strong>Email</strong>
                                        </div>
                                        <div class="col-6">
                                            <div *ngIf="phaseModifier == true; else elseModifier">
                                                <input class="mb-1" type="text" name="email" [(ngModel)]="col.email" value="{{col.email}}" required minlength="3" #email="ngModel">
                                                <p *ngIf="email.invalid">
                                                    <span class="bg-danger text-white rounded-lg p-1">L'email est invalide</span>
                                                </p>
                                            </div>
                                            <ng-template #elseModifier>
                                                {{col.email}}
                                            </ng-template>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div *ngIf="phaseModifier == true">
                                                <strong>PhotoUrl</strong>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div *ngIf="phaseModifier == true">
                                                <input class="mb-1" type="text" name="photoUrl" [(ngModel)]="col.photoUrl" value="{{col.photoUrl}}" required minlength="7"
                                                    #photoUrl="ngModel" />
                                                <p *ngIf="photoUrl.invalid">
                                                    <span class="bg-danger text-white rounded-lg p-1">L'URL de la photo est invalide</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-around en m-1" *ngIf="phaseModifier == true; else elseBouton">
                            <button [disabled]="collegueModifier.invalid" type="submit" class="btn btn-info">Valider</button>
                            <!-- <button class="btn btn-info">Annuler</button> -->
                        </div>
                        <ng-template #elseBouton>
                            <div *ngIf="roles.includes('ROLE_ADMIN')">
                                <div class="d-flex justify-content-around en m-1">
                                    <button type="button" class="btn btn-info" (click)="modifierCollegue()">Modifier</button>
                                </div>
                            </div>
                        </ng-template>

                    </form>
                </div>
            </div>
        </div>
        <ng-template #erreurBlock>
            <div class="col-5">
                <div class="alert alert-danger ml-3" role="alert">
                    Erreur de type : {{erreur}}
                </div>
            </div>
        </ng-template>

        <div class="col-4 ml-3 mt-4">
            <div *ngIf="phaseModifier == false && roles.includes('ROLE_ADMIN')">
                <button class="btn btn-link" (click)="creerCollegue()">Créer un nouveau collègue</button>
            </div>
        </div>
    </div>
</div>
<ng-template #creerBlock>
    <app-creer-collegue (isCreer)="validerCreer($event)"></app-creer-collegue>
</ng-template>